<?xml version="1.0"?>
<block>
	<name>QAM4 Mapper</name>
	<key>s4a_qam4_mapper</key>
	<category>Tools4SDR</category>
	<import>from s4a import *</import>
	<make>qam4_mapper()
	</make>
	<callback></callback>
	<sink>
		<name>byte_in</name>
		<type>byte</type>
	</sink>
	<source>
		<name>sym_out</name>
		<type>complex</type>
	</source>
</block>
