<?xml version="1.0"?>
<block>
	<name>BPSK DeMapper</name>
	<key>s4a_bpsk_demapper</key>
	<category>Tools4SDR</category>
	<import>from s4a import *</import>
	<make>bpsk_demapper()
	</make>
	<callback></callback>
	<sink>
		<name>sym_in</name>
		<type>complex</type>
	</sink>
	<source>
		<name>byte_out</name>
		<type>byte</type>
	</source>
</block>
